h2, h3 {
    color: #28a745; /* Bootstrap success color for consistency */
  }
  
  .accordion-button:focus {
    box-shadow: none;
    color: #28a745; /* Remove the focus ring for a cleaner look */
  }
  
  .lead {
    font-size: 1.1rem;
    color: #000000; /* Slightly darker gray for readability */
  }
  