.container {
    max-width: 800px;
    padding: 20px;
  }
  
  h3 {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  